<!-- 使用 DISQUS -->
<div id="disqus-comment">
    <%- partial('_widget/comment/disqus/main') %>
</div>

<style>
    #disqus-comment{
        background-color: #fff;
        padding: 2pc;
    }
</style>