// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style

// 正文样式修改

body
  font-size: 15px

body:not(.dark-theme) .highlight
  background: rgba(0,0,0,.02)
  border: 1px solid #f0f0f0
  border-radius: 4px

.post-content
  figure.highlight .code pre
    margin: 0
  blockquote
    border-left: 4px solid #0052ffe0!important
    background: #0052ff0f
  a
    color: #ef3982
  table
    thead
      background: rgba(0, 82, 255, 0.9)
      color: #fff
  h2
    font-size: 1.4em
    color: rgb(0, 82, 255)
    &::before
      color: rgb(0, 82, 255)
  h3
    position: relative
    display: block
    color: rgb(0, 82, 255)
    &::before
      content: ''
      position: absolute
      left: -6px
      top: 68%
      transform: translateY(-68%)
      width: 6px
      height: 28px
      background: rgb(255, 218, 169)


    &::after
      content: ''
      position: absolute
      left: -12px
      top: 68%
      transform: translateY(-68%)
      width: 6px
      height: 28px
      background: rgb(0, 82, 255)

    a
      padding-left: 10px

  ol
    padding-left: 30px
    li::marker
      font-weight: 500
      font-style: italic

